<!DOCTYPE html>

<head>
    <meta charset="UTF-8">

</head>

<body>
    <h1>Hello Siz</h1>
    <form method="PORT" action="/setup-profile">
        <button type="submit">setup profile</button>
    </form>
    <br />
    <form method="PORT" action="/setup-persistent-menu">
        <button type="submit">setu ppersistent menu</button>
    </form>
</body>

</html>